$primary-color: #FF9900;
$error-color: #F60C36;
$bg-color: #FFFCF0;
$text-color: #293241;
$color-white: #fff;
$color-black: #0000;

$border-radius-sm: 0.25rem;
$border-radius-lg: 2rem;

.headerLogo {

  position: absolute;
  width: 26.54px !important;
  height: 31px !important;
  // left: 21.5px;
  // top: 14.5px;

  background-color: #FFFCF0 !important;
}
.NavConnect {
  display: inline-block;
  top: -3rem;
  position: absolute;
  left: 13rem;
  font-size: 16px;
  width: 310px;
}




.container {
  // padding: 3rem;
  
  // border-radius: $border-radius-sm;
  .imgConnect {
    display: inline-block !important;
    align-items: center !important;
    position: absolute !important;
    width: 82.14px !important;
    height: 80px !important;
    left: -5px !important;
    top: -8px !important;
    
  }
  .title {
    display: block;
    align-items: center;
    position: static;
    width: 110px !important;
    height: 33px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 525 !important;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
  }

  .connectWallet1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 80px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
  }

  .needWallet {
    width: 108px;
    height: 22px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    margin: auto;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .learnConnect {
    color: #979797;
    width: 264px;
    height: 19px;
    margin: auto;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
      /* identical to box height */
    display: flex;
    align-items: center;
  }

  .learnConnect span {
    margin: auto;
  }
  
  // .formCard {
  //   background: #FFFFFF;
  //   border: 1px solid #FF9900;
  //   width: 500px;
  //   height: 80px;
  //   box-sizing: border-box;
  //   box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
  //   border-radius: 3px;
  // }

  
  

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: $text-color;
    margin-bottom: 2rem;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
    margin-bottom: 1rem;
  }

  label,
  input {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  input {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid rgba($primary-color, 0.8);
    border-radius: $border-radius-lg;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .formRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .connect1 {
    background: #FFFFFF;
    border: 1px solid #FF9900;
    width: 500px;
    position: static;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 80px;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
  }

  

  .chooseWallet {
    color: #979797;
    width: 264px;
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
  }

  .chooseWallet span {
    width: 100%;
    text-align: center;
  }

  .connectWallet {
    width: 264px;
    height: 19px;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin: auto;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.45);
  }

  button:not(.back) {
    color: #0000;
    font-family: 'Open Sans', sans-serif;
    // width: 100%;
    font-size: 16px;
    left: 62px;
    top: -17px;
    // background: white;
    // border-radius: $border-radius-lg;
    border: none;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    margin-top: 0.5rem;

    // &:hover {
    //   background: rgba($primary-color, 0.8);
    // }
  }

  button.back {
    margin-right: 1rem;
    padding: 0.3rem;
    cursor: pointer;
  }

  .input-error {
    border-color: $error-color;
  }

  .error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    background: rgba($primary-color, 0.8);
  }

  input[type="checkbox"] {
    margin-right: 0.7rem;
  }

  .steps {
    display: inline-block;
    margin-bottom: 1rem;
    color: $text-color;
    font-size: 1.2rem;
  }

  .errorText {
    color: $error-color;
    font-size: 1.2rem;
    margin-top: 0.4rem;
    display: inline-block;
  }

  .hideForm {
    display: none;
  }

  // .showForm {
  //   display: block;
  //   background-color: "transparent";
  // }
  
  ul {
    margin-bottom: 1.5rem;
  }
}