$primary-color: #FF9900;
$error-color: #F60C36;
$bg-color: #FFFCF0;
$text-color: #293241;
$color-white: #fff;
$color-black: #0000;

$border-radius-sm: 0.25rem;
$border-radius-lg: 2rem;

.headerLogo {
  width: 56.54px;
  height: 61px;
  top: -1rem ;
  left: 40.5px;
}
.NavConnect {
  display: inline-block;
  top: -3rem;
  position: absolute;
  left: 13rem;
  font-size: 16px;
  width: 310px;
}
.container {
  // padding: 3rem;
  
  // border-radius: $border-radius-sm;

  .needWallet {
    display: flex;
    position: absolute;
    width: 500px;
    height: 80px;
    left: 0px;
    top: 200px;
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
  }

  .title {
    // display: block;
    align-items: center;
    // position: absolute;
    width: 102px;
    height: 33px;
    left: 200px!important;
    top: 44px !important;
  
    
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
  }
  
  // .formCard {
  //   background: #FFFFFF;
  //   border: 1px solid #FF9900;
  //   width: 500px;
  //   height: 80px;
  //   box-sizing: border-box;
  //   box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
  //   border-radius: 3px;
  // }

  
  

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: $text-color;
    margin-bottom: 2rem;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
    margin-bottom: 1rem;
  }

  label,
  input {
    font-family: 'Open Sans', sans-serif;
    color: $text-color;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  input {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid rgba($primary-color, 0.8);
    border-radius: $border-radius-lg;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .formRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .connect1 {
    background: #FFFFFF;
    border: 1px solid #FF9900;
    width: 500px;
    height: 80px;
    box-sizing: border-box;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    border-radius: 3px;
  }

  

  .connectWallet {
    position: absolute;
    width: 264px;
    height: 19px;
    // left: 572px;
    // top: 362px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.45);
  }

  button:not(.back) {
    color: #0000;
    font-family: 'Open Sans', sans-serif;
    // width: 100%;
    font-size: 16px;
    // background: white;
    // border-radius: $border-radius-lg;
    border: none;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    margin-top: 0.5rem;

    // &:hover {
    //   background: rgba($primary-color, 0.8);
    // }
  }

  button.back {
    margin-right: 1rem;
    padding: 0.3rem;
    cursor: pointer;
  }

  .input-error {
    border-color: $error-color;
  }

  .error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    background: rgba($primary-color, 0.8);
  }

  input[type="checkbox"] {
    margin-right: 0.7rem;
  }

  .steps {
    display: inline-block;
    margin-bottom: 1rem;
    color: $text-color;
    font-size: 1.2rem;
  }

  .errorText {
    color: $error-color;
    font-size: 1.2rem;
    margin-top: 0.4rem;
    display: inline-block;
  }

  .hideForm {
    display: none;
  }

  .showForm {
    display: block;
  }
  
  ul {
    margin-bottom: 1.5rem;
  }
}